<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
  <li><a href="#!">three</a></li>

  <li class="divider"></li>

  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
</ul>
